<div class="container py-5">
  <h1 class="mb-4">Contact Us</h1>
  <div class="page-content">
    <p>We'd Love to Hear From You!</p>

    <p>Have questions about your subscription? Need help with an order? Or just want to share your excitement about your latest crate? We're here to help!</p>

    <h3>Customer Support Hours:</h3>
    <p>Monday - Friday: 9:00 AM - 6:00 PM EST</p>

    <h3>Contact Information:</h3>
    <ul class="list-unstyled">
      <li><strong>Email:</strong> support@nerdcrate.com</li>
      <li><strong>Phone:</strong> (555) 123-4567</li>
    </ul>

    <h3>Social Media:</h3>
    <ul class="list-unstyled">
      <li><a href="https://twitter.com/NerdCrate" class="text-decoration-none">Twitter: @NerdCrate</a></li>
      <li><a href="https://instagram.com/NerdCrateOfficial" class="text-decoration-none">Instagram: @NerdCrateOfficial</a></li>
      <li><a href="https://facebook.com/NerdCrateOfficial" class="text-decoration-none">Facebook: /NerdCrateOfficial</a></li>
    </ul>

    <h3>Business Inquiries:</h3>
    <p>partnerships@nerdcrate.com</p>
  </div>
</div>
