<div class="container py-5">
  <h1 class="mb-4">Browse by Category</h1>
  
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <% @categories.each do |category| %>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title"><%= category.name %></h5>
            <p class="card-text"><%= category.description %></p>
            <div class="d-flex justify-content-between align-items-center">
              <span class="badge bg-primary"><%= pluralize(category.crate_types.count, 'crate') %></span>
              <%= link_to "View Crates", category_path(category), class: "btn btn-outline-primary" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div> 